################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.opendb
/profe no lo decifre/.vs/profe no lo decifre/v16/Browse.VC.opendb
/profe no lo decifre/.vs/profe no lo decifre/v16/ipch/AutoPCH/bc54ab8cfce1aef2/VCTMP4356_359790.PROFE NO LO DECIFRE.D96C60E7.ipch
