################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.opendb
/profe no lo decifre/.vs/profe no lo decifre/v16/Browse.VC.opendb
